<template>
  <div class="home">
    <Header/>
    <div class="columns">
      <section class="column has-background-pink is-three-fifths">
        <div class="section has-text-white">
          <h1 class="title has-text-white">Trouble with pair programming?</h1>
          <span class="subtitle has-text-white">Create a pairing matrix to boost your team's knowledge exchange!</span><br/><br/>
          <div class="content">
            <li>Generate a pairing matrix for your team</li>
            <li>Get pairing recommendations based on how many times each member paired with the others</li>
            <li>Keep track of all the pairing dates</li>
          </div>
        </div>
      </section>
      <section class="column">
        <div class="section">
          <h1 class="title">Register your team</h1>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Your team's name" autofocus v-model="teamName">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
            <input class="input" type="password" placeholder="A password to be shared by its members" v-model="password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Repeat the password typed above" v-model="passwordConfirmation">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            </p>
          </div>

          <p class="control" v-if="step == 1">
            <button class="button is-success" @click="nextStep">Continue</button>
          </p>

          <div class="second-step" v-if="step >= 2">
            <h2 class="subtitle">Add at least 3 team members</h2>
            <div class="field has-addons">
              <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Member name" v-model="memberToBeAdded" @keyup.enter="addMember">
                <span class="icon is-small is-left">
                <i class="fas user-plus"></i>
              </span>
              </div>
              <div class="control">
                <a class="button is-success" @click="addMember">
                  Add
                </a>
              </div>
            </div>

            <div class="team-preview">
              <h2 class="subtitle">Team preview</h2>
              <table class="table">
                <thead>
                  <th>{{ teamName }}</th>
                </thead>
                <tbody>
                  <tr v-if="members.length == 0">
                    <td>No members yet 😓</td>
                  </tr>
                  <tr v-for="member in members" :key="member">
                    <td>{{ member }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="field" v-if="members.length >= 3">
            <p class="control">
              <button class="button is-success" @click="createTeam">Finish!</button>
            </p>
          </div>

          <div class="notification is-danger" v-if="errorMessage">
            {{ errorMessage }}
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
  name: 'home',
  data () {
    return {
      teamName: '',
      password: '',
      passwordConfirmation: '',
      members: [],
      memberToBeAdded: '',
      step: 1
    }
  },
  components: {
    Header
  },
  computed: {
    errorMessage () {
      return this.$store.state.errorMessage
    }
  },
  methods: {
    nextStep () {
      if (!(this.teamName && this.password && this.passwordConfirmation)) {
        this.$store.dispatch('setErrorMessage', 'There is an empty field')
        return
      }

      if (this.password != this.passwordConfirmation) {
        this.$store.dispatch('setErrorMessage', 'Passwords do not match')
        return
      }

      this.$store.dispatch('setErrorMessage', '')
      this.step = 2
    },
    addMember () {
      if (!this.memberToBeAdded) {
        this.$store.dispatch('setErrorMessage', 'Member is empty')
        return
      }

      if (this.members.indexOf(this.memberToBeAdded) >= 0) {
        this.$store.dispatch('setErrorMessage', 'This member has been added before')
        return
      }

      this.members.push(this.memberToBeAdded)
      this.memberToBeAdded = ''
      this.$store.dispatch('setErrorMessage', '')
    },
    createTeam () {
      this.$store.dispatch('createTeam', {
        name: this.teamName,
        members: this.members,
        password: this.password,
        password_confirmation: this.passwordConfirmation
      })
      .then(() => {
        this.$store.dispatch('authenticateTeam', {
          name: this.teamName,
          password: this.password
        })
      })
      .catch(error => {
        this.$store.dispatch('setErrorMessage', error)
      })
    }
  }
}
</script>

<style scoped>
.navbar { height: 5%; }
.columns { height: 95%; }
.team-preview { margin: 30px 0; }
.team-preview table {
  border: 1px dashed #dbdbdb;
  border-radius: 10;
  width: 100%;
}
.team-preview table th {
  background: #fafafa;
  border: 1px solid #cbcbcb;
}
.notification { margin-top: 10px; }
</style>

