<template>
  <div class="login">
    <Header/>
    <div class="section">
      <div class="container">
        <h1 class="title">Login</h1>
        <div class="field">
          <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Your team's name" autofocus v-model="teamName" @keyup.enter="authenticateTeam">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left has-icons-right">
          <input class="input" type="password" placeholder="Your team's password" autofocus v-model="password" @keyup.enter="authenticateTeam">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-success" @click="authenticateTeam">Submit</button>
          </p>
        </div>
        <div class="notification is-danger" v-if="errorMessage">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
  name: 'login',
  components: {
    Header
  },
  data () {
    return {
      teamName: '',
      password: ''
    }
  },
  computed: {
    errorMessage () {
      return this.$store.state.errorMessage
    }
  },
  methods: {
    authenticateTeam () {
      this.$store.dispatch('authenticateTeam', {
        name: this.teamName,
        password: this.password
      })
      .catch(error => {
        this.$store.dispatch('setErrorMessage', error)
      })
    }
  }
}
</script>

<style scoped>
.container {
  width: 500px;
}
</style>

