<template>
  <div class="team">
    <Header/>
    <Matrix/>
    <Rotator/>
    <History/>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Matrix from '@/components/Matrix.vue'
import Rotator from '@/components/Rotator.vue'
import History from '@/components/History.vue'

export default {
  name: 'team',
  components: {
    Header,
    Matrix,
    Rotator,
    History
  }
}
</script>

<style>
.team {
  height: 100vh;
}
.matrix {
  margin-bottom: -60px;
}
.history {
  height: auto;
  min-height: 300px;
}
</style>

