<template>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#/">EasyPairing</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" v-if="authorizationToken" @click="logout">Logout</a>
      <a class="navbar-item" href="#/login" v-else>Login</a>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Header',
  computed: {
    authorizationToken () {
      return localStorage.getItem('authorizationToken')
    }
  },
  methods: {
    logout () {
      this.$store.commit('logout')
    }
  }
}
</script>

<style scoped>
.navbar {
  padding: 0 15px;
}
</style>
