<template>
  <div class="history section has-background-pink has-text-white">
    <h2 class="subtitle has-text-white">Pairing records</h2>
    <template v-for="record in team.pairing_records">
      <div class="record" :key="record.id">
        [ {{ record.date }} ] {{ record.members[0].name }} e {{ record.members[1].name }}
      </div>
    </template>
    <p v-if="team.pairing_records.length == 0">There are no pairing records yet 🤷</p>
  </div>
</template>

<script>
export default {
  name: 'History',
  computed: {
    team () {
      if (this.$store.state.team.id) {
        return this.$store.state.team
      }

      return JSON.parse(localStorage.getItem('team'))
    }
  }
}
</script>

<style scoped>
</style>
