<template>
  <div class="matrix section">
    <h2 class="title">{{ team.name }}</h2>
    <p class="subtitle">
      <a @click="modalRevealed = true">
        Edit team
      </a>
    </p>

    <div class="modal" v-bind:class="{ 'is-active': modalRevealed }">
      <div class="modal-background" @click="modalRevealed = false"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit team</p>
          <button class="delete" aria-label="close" @click="modalRevealed = false">
          </button>
        </header>
        <section class="modal-card-body">

          <b>Name</b>
          <div class="field">
            <div class="member-edition">
              <input class="input" v-model="newTeamName" :placeholder="team.name">
              <button class="button is-info" @click="renameTeam">Rename</button>
            </div>
          </div>

          <b>Members</b>
          <div class="member-edition">
            <template v-for="member in team.members">
              <input class="input" type="text" :key="member.id" :value="member.name" disabled>
              <button class="button is-danger" :key="member.name" @click="removeMember(member.id)">Remove</button>
            </template>
            <input class="input" type="text" v-model="memberToBeAdded" @keyup.enter="addMember">
            <button class="button is-success" @click="addMember">Add member</button>
          </div>


        </section>
      </div>
    </div>

    <table>
      <tr>
        <td></td>
        <template v-for="memberColumn in team.members">
          <td :key="memberColumn.id">{{ memberColumn.name }}</td>
        </template>
      </tr>
      <template v-for="memberRow in team.members">
        <tr :key="memberRow.id">
          <td>{{memberRow.name}}</td>
          <template v-for="memberColumn in team.members">
            <td :key="memberColumn.id">
              {{ getNumberOfOcurrences([memberRow.id, memberColumn.id]) }}
            </td>
          </template>
        </tr>
      </template>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Matrix',
  data () {
    return {
      newTeamName: '',
      memberToBeAdded: '',
      modalRevealed: false
    }
  },
  computed: {
    team () {
      if (this.$store.state.team.id) {
        return this.$store.state.team
      }

      return JSON.parse(localStorage.getItem('team'))
    }
  },
  methods: {
    renameTeam () {
      this.$store.dispatch('renameTeam', {
        name: this.newTeamName
      })
    },
    removeMember (memberId) {
      this.$store.dispatch('deleteMember', memberId)
    },
    addMember () {
      this.$store.dispatch('addMember', {
        name: this.memberToBeAdded
      })
    },
    getNumberOfOcurrences(memberIds) {
      const team = this.$store.state.team.id ? this.$store.state.team : JSON.parse(localStorage.getItem('team'))

      if (memberIds[0] == memberIds[1]) return ''

      const records = team.pairing_records.filter(record => {
        return record.members.filter(member => member.id == memberIds[0]).length == 1
          && record.members.filter(member => member.id == memberIds[1]).length == 1
      })

      return records.length
    }
  }
}
</script>

<style scoped>
td {
  background-color: #dfdfdf;
  border: 3px solid #fff;
  padding: 10px 0px;
  text-align: center;
  width: 120px;
}
input {
  background-color: #dfdfdf;
  border: 0;
  box-sizing: border-box;
  color: #555555;
  font-size: inherit;
  height: 100%;
  outline: none;
  text-align: center;
  width: 100%;
}
input::placeholder{
  color: #555555;
}
button {
  background-color: #dfdfdf;
  border: 0;
  font-size: inherit;
  height: 100%;
  outline: none;
  width: 100%;
}
button:hover {
  cursor: pointer;
}
.has-background-pink { background-color: #ea1f62; }
.modal input {
  margin-top: 10px;
  height: 30px;
  width: 60%;
}
.member-edition button {
  height: 30px;
  width: 20%;
}
.member-edition input, button {
  margin: 10px 1% 0 0;
}
</style>
