<template>
  <div class="rotator section">
    <h2 class="subtitle">Add a pairing record</h2>
    <div class="field has-addons">
      <p class="control">
        <span class="select">
          <select v-model="memberOne">
            <option value="0" disabled selected>Select a member</option>
            <template v-for="member in team.members">
              <option v-if="member.id != memberTwo"
                      :value="member.id"
                      :key="member.id">
                {{ member.name }}
              </option>
            </template>
          </select>
        </span>
      </p>
      <p class="control">
        <span class="select">
          <select v-model="memberTwo" placeholder="asdasds">
            <option value="0" disabled selected>Select another member</option>
            <template v-for="member in team.members">
              <option v-if="member.id != memberOne"
                      :value="member.id"
                      :key="member.id">
                  {{ member.name }}
              </option>
            </template>
          </select>
        </span>
      </p>
      <p class="control">
        <a class="button is-dark" @click="addPairingRecord">
          Record
        </a>
      </p>
    </div>

    Need help with pair rotation? <a href="#" @click="getSuggestion">Fill with a suggestion</a>.
<!-- <span class="tag is-danger">Danger</span> -->
    <br><br>
    <div class="tag is-warning is-half" v-if="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'

export default {
  name: 'Rotator',
  data () {
    return {
      memberOne: 0,
      memberTwo: 0
    }
  },
  computed: {
    team () {
      if (this.$store.state.team.id) {
        return this.$store.state.team
      }

      return JSON.parse(localStorage.getItem('team'))
    },
    errorMessage () {
      return this.$store.state.errorMessage
    }
  },
  methods: {
    addPairingRecord () {
      this.$store.dispatch('addPairingRecord', { member_ids: [ this.memberOne, this.memberTwo ], date: moment() } )
    },
    async getSuggestion () {
      const team = this.$store.state.team.id ? this.$store.state.team : JSON.parse(localStorage.getItem('team'))
      const token = localStorage.getItem('authorizationToken') || this.$store.state.authorizationToken
      const API_URL = 'https://easy-pairing-api.herokuapp.com'

      const suggested_pair = await axios.get(API_URL + '/teams/' + team.id + '/suggested_pairs', {
        headers: {
          'Authorization': token
        }
      })

      if (suggested_pair.data) {
        this.memberOne = suggested_pair.data.members[0].id
        this.memberTwo = suggested_pair.data.members[1].id
      } else {
        this.$store.dispatch('setErrorMessage', 'There is no suggested pair. Have all members paired equally?')
      }
    }
  }
}
</script>

<style scoped>
select {
  color: black !important;
}
</style>
